<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Student List</title>
</head>
<body>
<h1>Student List</h1>

<div class="container">
    <div class="row" style="border: 1px solid #ff0000">
        <div class="col-md-2">Name</div>
        <div class="col-md-3">Surname</div>
        <div class="col-md-2">Average</div>
        <div class="col-md-2">Pass</div>
        <div class="col-md-3">Status</div>
    </div>
    <div class="row" style="border: 1px solid #000000" th:each="student : ${lista_studentow}">
        <div class="col-md-2" th:text="${student.getStudentName()}"></div>
        <div class="col-md-3" th:text="${student.getSurname()}"></div>
        <div class="col-md-2" th:text="${student.getAverage()}"></div>
        <div class="col-md-2" th:text="${student.isPass()}"></div>
        <div class="col-md-3" th:text="${student.getStatus()}"></div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>